.wordIn {
  animation: word-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.wordOut {
  animation: word-out 0.5s ease-in forwards;
}

@keyframes word-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}

@keyframes word-out {
  0% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px) translateX(40px) scale(2);
    filter: blur(8px);
  }
}
